.mainpage_pt_20 {
	padding-top: 20px;
}

#mainpage_download, .mainpage_out {
	margin-top: 40px;
}

#mainpge_source, #mainpge_result {
	flex-basis: 300px;
	flex-grow: 1;
}

.mainpage_desc_input {
	flex-basis: 200px;
    margin-bottom: 20px;
    padding-right: 10px;
}

.mainpage_warning {
	padding-bottom: 20px;
	color: #a7a7a7;
}



#map {
	width: 100%;
	height: 500px;
}

.yamps_but {
	text-decoration: underline;
    font-weight: 600;
	cursor: pointer;
}